<div *ngIf="feed" class="feed-details">
  <button class="feed-details__button" (click)="goBack()">Go Back</button>
  <h1>{{feed.title}}</h1>
  <img [src]="
    feed.image" />
  <div class="feed-details__publisher">{{feed.publisher}}</div>
  <div class="feed-details__body">{{feed.body}}</div>
</div>