.feed-details {
  margin: 0 auto;
  width: 50%;
}

.feed-details__button {
  width: 100%;
  font-weight: bold;
  font-size: 2em;
}

.feed-details__publisher {
  font-weight: bold;
  font-size: 2em;
  color: silver;
}

.feed-details__body {
  white-space: pre-wrap;
}
