.daily-create {
  margin: 2em;
}

.daily-create__item {
  margin: 1em 0;
}

.daily-create__item > * {
  margin-right: 1em;
  font-size: 1.5em;
}

.daily-create__item > label {
  font-weight: bold;
}

.daily-create__item > input {
  width: 75%;
}

.daily-create__create-new {
  width: 100%;
  font-weight: bold;
  font-size: 2em;
}
