<div>
  <button class="daily-create__create-new" (click)="toggleCreate()">Create new</button>
  <form class="daily-create" *ngIf="createOpen" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="daily-create__item">
      <label for="feed__title">Title</label>
      <input id="feed__title" formControlName="title" />
    </div>
    <div class="daily-create__item">
      <label for="feed__body">Body</label>
      <input id="feed__body" formControlName="body" />
    </div>
    <div class="daily-create__item">
      <label for="feed__image">Image</label>
      <input id="feed__image" formControlName="image" />
    </div>
    <div class="daily-create__item">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>