.list {
  margin: 0 auto;
  width: 50%;
}

.list_container {
  border: 2px solid silver;
  border-radius: 1em;
  margin: 2em 0;
  padding-bottom: 2em;
}

.list__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list__img {
  height: 5em;
  width: 5em;
  padding: 2em;
}
