<div class="list">
  <app-daily-trends-form></app-daily-trends-form>
  <mat-spinner *ngIf="loading" class="list__loader"></mat-spinner>
  <div *ngFor="let feed of feeds" class="list_container">
    <div (click)="detailsFeed(feed._id)" class="list__item">
      <img [src]="feed.image" class="list__img" />
      <h3>{{feed.title}}</h3>
    </div>
    <button (click)="removeFeed(feed._id)">Remove</button>
  </div>
</div>